{% extends 'base.html' %} 

{% block content %}
<main role="main"  style="padding-left: 10%; padding-right: 10%; padding-top: 5%; padding-bottom: 1%;">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Biblioteca Zuccante</h1>
      <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
      <p>
        <a href="#" class="btn btn-dark mx-1 my-2 btn disabled">
          <svg class="bi bi-grid" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M1 2.5A1.5 1.5 0 012.5 1h3A1.5 1.5 0 017 2.5v3A1.5 1.5 0 015.5 7h-3A1.5 1.5 0 011 5.5v-3zM2.5 2a.5.5 0 00-.5.5v3a.5.5 0 00.5.5h3a.5.5 0 00.5-.5v-3a.5.5 0 00-.5-.5h-3zm6.5.5A1.5 1.5 0 0110.5 1h3A1.5 1.5 0 0115 2.5v3A1.5 1.5 0 0113.5 7h-3A1.5 1.5 0 019 5.5v-3zm1.5-.5a.5.5 0 00-.5.5v3a.5.5 0 00.5.5h3a.5.5 0 00.5-.5v-3a.5.5 0 00-.5-.5h-3zM1 10.5A1.5 1.5 0 012.5 9h3A1.5 1.5 0 017 10.5v3A1.5 1.5 0 015.5 15h-3A1.5 1.5 0 011 13.5v-3zm1.5-.5a.5.5 0 00-.5.5v3a.5.5 0 00.5.5h3a.5.5 0 00.5-.5v-3a.5.5 0 00-.5-.5h-3zm6.5.5A1.5 1.5 0 0110.5 9h3a1.5 1.5 0 011.5 1.5v3a1.5 1.5 0 01-1.5 1.5h-3A1.5 1.5 0 019 13.5v-3zm1.5-.5a.5.5 0 00-.5.5v3a.5.5 0 00.5.5h3a.5.5 0 00.5-.5v-3a.5.5 0 00-.5-.5h-3z" clip-rule="evenodd"/>
          </svg>
          Categorie
        </a>
        <a href="{% url 'libri' %}" class="btn btn-dark mx-4 my-2">
          <svg class="bi bi-book" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M3.214 1.072C4.813.752 6.916.71 8.354 2.146A.5.5 0 018.5 2.5v11a.5.5 0 01-.854.354c-.843-.844-2.115-1.059-3.47-.92-1.344.14-2.66.617-3.452 1.013A.5.5 0 010 13.5v-11a.5.5 0 01.276-.447L.5 2.5l-.224-.447.002-.001.004-.002.013-.006a5.017 5.017 0 01.22-.103 12.958 12.958 0 012.7-.869zM1 2.82v9.908c.846-.343 1.944-.672 3.074-.788 1.143-.118 2.387-.023 3.426.56V2.718c-1.063-.929-2.631-.956-4.09-.664A11.958 11.958 0 001 2.82z" clip-rule="evenodd"/>
            <path fill-rule="evenodd" d="M12.786 1.072C11.188.752 9.084.71 7.646 2.146A.5.5 0 007.5 2.5v11a.5.5 0 00.854.354c.843-.844 2.115-1.059 3.47-.92 1.344.14 2.66.617 3.452 1.013A.5.5 0 0016 13.5v-11a.5.5 0 00-.276-.447L15.5 2.5l.224-.447-.002-.001-.004-.002-.013-.006-.047-.023a12.582 12.582 0 00-.799-.34 12.96 12.96 0 00-2.073-.609zM15 2.82v9.908c-.846-.343-1.944-.672-3.074-.788-1.143-.118-2.387-.023-3.426.56V2.718c1.063-.929 2.631-.956 4.09-.664A11.956 11.956 0 0115 2.82z" clip-rule="evenodd"/>
          </svg>
          Libreria
        </a>
      </p>
    </div>  

    <br>
    <br>
    <h2 class="jumbotron-heading">Ultimi aggiungi/Libri casuali</h2>
    <br>

    <!-- CAROUSEL - MOSTRA ULTIMI LIBRI AGGIUNTI O LIBRI CASUALI (DA DECIDERE) -->
    
    <div class="container-fluid" style="background-color: darkgray;">
      <br>
      <div class="row">
        <div class="col-sm-12">
          <div id="inam" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-12 col-lg-4">
                      <div class="card" style="width: 300px; height: 600px;margin: auto;">                          
                          <img class="card-img-top" src="https://m.media-amazon.com/images/I/41M6Vvg6AlL.jpg" alt="Card image cap" style="height: 70%;">
                          <div class="card-body">
                          <h5 class="card-title">*titolo*</h5>
                          <p class="card-text">Autore: *nome*<br>Genere: *</p>
                          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#admin">
                            Dettagli
                          </button>
                          </div>  
                      </div>
                    </div>
                    <div class="col-sm-12 col-lg-4">
                        <div class="card" style="width: 300px;height: 600px;margin: auto;">
                            <img class="card-img-top" src="https://static.lafeltrinelli.it/static/frontside/xxl/319/10037319_4398807.jpg" alt="Card image cap" style="height: 70%;">
                            <div class="card-body">
                            <h5 class="card-title">*titolo*</h5>
                            <p class="card-text">Autore: *nome*<br>Genere: *</p>
                            <a href="#" class="btn btn-primary">Dettagli</a>
                            </div>  
                        </div>          
                    </div>
                    <div class="col-sm-12 col-lg-4">
                      <div class="card" style="width: 300px; height: 600px; margin: auto;">
                          <img class="card-img-top" src="https://www.ibs.it/mpimg/2560043059864_0_0_0_745_75.jpg" alt="Card image cap" style="height: 70%;">
                          <div class="card-body">
                          <h5 class="card-title">*titolo*</h5>
                          <p class="card-text">Autore: *nome*<br>Genere: *</p>
                          <a href="#" class="btn btn-primary">Dettagli</a>
                          </div>  
                      </div>          
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-12 col-lg-4">
                      <div class="card" style="width: 300px; height: 600px; margin: auto;">
                          <img class="card-img-top" src="https://unibooks.nz/media/zoo/images/placeholder-135-300x500_e5ffd609dfdf17e01ff18b5428d59fa6.png" alt="Card image cap"  style="height: 70%;">
                          <div class="card-body">
                          <h5 class="card-title">*titolo*</h5>
                          <p class="card-text">Autore: *nome*<br>Genere: *</p>
                          <a href="#" class="btn btn-primary">Dettagli</a>
                          </div>  
                      </div>          
                    </div>
                    <div class="col-sm-12 col-lg-4">
                      <div class="card" style="width: 300px;height: 600px;margin: auto;">
                          <img class="card-img-top" src="https://img.libraccio.it/images/9788804665229_0_500_0_75.jpg" alt="Card image cap" style="height: 70%;">
                          <div class="card-body">
                          <h5 class="card-title">*titolo*</h5>
                          <p class="card-text">Autore: *nome*<br>Genere: *</p>
                          <a href="#" class="btn btn-primary">Dettagli</a>
                          </div>  
                      </div>          
                    </div>
                    <div class="col-sm-12 col-lg-4">
                      <div class="card" style="width: 300px;height: 600px;margin: auto;">
                          <img class="card-img-top" src="https://www.unicusano.it/blog/wp-content/uploads/2018/02/cos-%C3%A8-un-algoritmo-640x360.jpg" alt="Card image cap" style="height: 70%;">
                          <div class="card-body">
                          <h5 class="card-title">*titolo*</h5>
                          <p class="card-text">Autore: *nome*<br>Genere: *</p>
                          <a href="#" class="btn btn-primary">Dettagli</a>
                          </div>  
                      </div>          
                    </div>
                  </div>
                </div>  
              </div>  
              <div class="carousel-item">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-12 col-lg-4">
                      <div class="card" style="width: 300px;height: 600px;margin: auto;">
                          <img class="card-img-top" src="https://www.unicusano.it/blog/wp-content/uploads/2018/02/cos-%C3%A8-un-algoritmo-640x360.jpg" alt="Card image cap" style="height: 70%;">
                          <div class="card-body">
                          <h5 class="card-title">*titolo*</h5>
                          <p class="card-text">Autore: *nome*<br>Genere: *</p>
                          <a href="#" class="btn btn-primary">Dettagli</a>
                          </div>  
                      </div>          
                    </div>
                    <div class="col-sm-12 col-lg-4">
                      <div class="card" style="width: 300px;height: 600px;margin: auto;">
                          <img class="card-img-top" src="https://www.unicusano.it/blog/wp-content/uploads/2018/02/cos-%C3%A8-un-algoritmo-640x360.jpg" alt="Card image cap" style="height: 70%;">
                          <div class="card-body">
                          <h5 class="card-title">*titolo*</h5>
                          <p class="card-text">Autore: *nome*<br>Genere: *</p>
                          <a href="#" class="btn btn-primary">Dettagli</a>
                          </div>  
                      </div>          
                    </div>
                    <div class="col-sm-12 col-lg-4">
                      <div class="card" style="width: 300px;height: 600px;margin: auto;">
                          <img class="card-img-top" src="https://m.media-amazon.com/images/I/51UfN1esvRL.jpg" alt="Card image cap" style="height: 70%;">
                          <div class="card-body">
                          <h5 class="card-title">*titolo*</h5>
                          <p class="card-text">Autore: *nome*<br>Genere: *</p>
                          <a href="#" class="btn btn-primary">Dettagli</a>
                          </div>  
                      </div>          
                    </div>
                  </div>
                </div>  
              </div>              
            </div>
            <a href="#inam" class="carousel-control-prev" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a href="#inam" class="carousel-control-next" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a>              
          </div>           
        </div>         
      </div> 
      <br>      
    </div>

    
      <br>
      <br>
      <br>
      <!-- CARD DECK - MOSTRA LE CATEGORIE -->
      <h2 class="jumbotron-heading">Categorie</h2>
      <div class="container">      
          <div class="card-deck">
              <div class="card">
                  <img class="card-img-top" src="https://www.unicusano.it/blog/wp-content/uploads/2018/02/cos-%C3%A8-un-algoritmo-640x360.jpg" alt="Card image cap">
                  <div class="card-body">
                  <h5 class="card-title">Informatica</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <a href="{% url 'info' %}" class="btn btn-primary">Sfoglia</a>
                  </div>  
              </div>
              <div class="card">
                  <img class="card-img-top" src="https://www.filosofiaamica.it/wp-content/uploads/filosofi-famosi-640x360.jpg" alt="Card image cap">
                  <div class="card-body">
                  <h5 class="card-title">Filosofia</h5>
                  <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                  <a href="{% url 'filo' %}" class="btn btn-primary">Sfoglia</a>
                  </div>
              </div>
              <div class="card">
                  <img class="card-img-top" src="https://www.laleggepertutti.it/wp-content/uploads/2019/09/religione-cristo-cattolicesimo-dio-gesu.jpg" alt="Card image cap">
                  <div class="card-body">
                  <h5 class="card-title">Religione</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                  <a href="{% url 'rel' %}" class="btn btn-primary">Sfoglia</a>
                  </div>
              </div>
          </div>   
          <br>
          <div class="card-deck">
              <div class="card">
                  <img class="card-img-top" src="https://www.29elode.it/sites/default/files/styles/course_page/public/o-law-facebook.jpg?itok=kIbn5XYA" alt="Card image cap">
                  <div class="card-body">
                  <h5 class="card-title">Scienze sociali</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <a href="{% url 'ss' %}" class="btn btn-primary">Sfoglia</a>
                  </div>
              </div>
              <div class="card">
                  <img class="card-img-top" src="https://liceodonatelli.edu.it/wp-content/uploads/sites/238/foreign-languages-career-education-otions-after-12th.jpg" alt="Card image cap">
                  <div class="card-body">
                  <h5 class="card-title">Linguistica</h5>
                  <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                  <a href="{% url 'ling' %}" class="btn btn-primary">Sfoglia</a>
                  </div>
              </div>
              <div class="card">
                  <img class="card-img-top" src="https://static.frascatiscienza.it/wp-content/uploads/2017/08/esperimenti.jpg" alt="Card image cap">
                  <div class="card-body">
                  <h5 class="card-title">Scienze pure</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                  <a href="{% url 'sp' %}" class="btn btn-primary">Sfoglia</a>
                  </div>
              </div>
          </div>  
          <br>
          <div class="card-deck">
              <div class="card">
                  <img class="card-img-top" src="https://www.asproni.it/wp-content/uploads/2018/11/Liceo-delle-Scienze-Applicate.jpg" alt="Card image cap">
                  <div class="card-body">
                  <h5 class="card-title">Tecnologia</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <a href="{% url 'tech' %}" class="btn btn-primary">Sfoglia</a>
                  </div>
              </div>
              <div class="card">
                  <img class="card-img-top" src="https://www.raicultura.it/cropgd/640x360/dl/img/2020/01/15/1579104462480_Cover_Arte_2.jpg" alt="Card image cap">
                  <div class="card-body">
                  <h5 class="card-title">Arti</h5>
                  <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                  <a href="{% url 'art' %}" class="btn btn-primary">Sfoglia</a>
                  </div>
              </div>
              <div class="card">
                  <img class="card-img-top" src="https://i2.wp.com/www.teleradiopace.tv/wp-content/uploads/2016/11/libro-letteratura.jpg?fit=1200%2C675&w=640" alt="Card image cap">
                  <div class="card-body">
                  <h5 class="card-title">Letteratura</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                  <a href="{% url 'lett' %}" class="btn btn-primary">Sfoglia</a>
                  </div>
              </div>
          </div>  
          <br>          
            <div class="container" style="text-align: center;">
              <div class="row">                  
                      <div class="card h-100" style="width: 350px;  margin: auto;">
                        <img class="card-img-top" src="https://www.rai.it/resizegd/640x-/dl/img/2020/04/22/1587549816608_sr1%20-%2050a%20giornata%20mondiale%20della%20terra%202048x1152.png" alt="Card image cap">
                        <div class="card-body">
                        <h5 class="card-title">Geografia</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                        <a href="{% url 'geosto' %}" class="btn btn-primary">Sfoglia</a>
                      </div>                  
              </div>
          </div>

          <!-- BOTTONE (FRECCIA SU) - TI PORTA A INIZIO PAGINA -->
          <footer class="text-muted">
            <div class="container">
              <p class="float-right">
                <a href="#" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">
                  <svg class="bi bi-arrow-up" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 3.5a.5.5 0 01.5.5v9a.5.5 0 01-1 0V4a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
                    <path fill-rule="evenodd" d="M7.646 2.646a.5.5 0 01.708 0l3 3a.5.5 0 01-.708.708L8 3.707 5.354 6.354a.5.5 0 11-.708-.708l3-3z" clip-rule="evenodd"/>
                  </svg>
                </a>
              </p>
            </div>
          </footer>
      </section>
  </main>

  <!--se è un utente a fare l'accesso-->
  <div class="modal fade" id="user" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">
            *Titolo*
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          *Immagine libro e descrizione*
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">
            <svg class="bi bi-check" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 010 .708l-7 7a.5.5 0 01-.708 0l-3.5-3.5a.5.5 0 11.708-.708L6.5 10.293l6.646-6.647a.5.5 0 01.708 0z" clip-rule="evenodd"/>
            </svg>
            Chiudi
          </button>
        </div>
      </div>
    </div>
  </div>

  <!--se è un admin a fare l'accesso-->
  <div class="modal fade" id="admin" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">
            *Titolo*
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          *Immagine libro e descrizione*
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">
            <svg class="bi bi-check" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 010 .708l-7 7a.5.5 0 01-.708 0l-3.5-3.5a.5.5 0 11.708-.708L6.5 10.293l6.646-6.647a.5.5 0 01.708 0z" clip-rule="evenodd"/>
            </svg>
            Prenotazioni
          </button> <!--non so se sia possibile però dovrebbe servire a vedere tutta la gente che lo ha prenotato nel tempo-->
          <button type="button" class="btn btn-primary" data-dismiss="modal">
            <svg class="bi bi-pencil" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 011.414 0l2 2a1 1 0 010 1.414l-9 9a1 1 0 01-.39.242l-3 1a1 1 0 01-1.266-1.265l1-3a1 1 0 01.242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z" clip-rule="evenodd"/>
              <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 00.5.5H4v.5a.5.5 0 00.5.5H5v.5a.5.5 0 00.5.5H6v-1.5a.5.5 0 00-.5-.5H5v-.5a.5.5 0 00-.5-.5H3z" clip-rule="evenodd"/>
            </svg>
            Modifica
          </button>
          <button type="button" class="btn btn-danger">
            <svg class="bi bi-x" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 010 .708l-7 7a.5.5 0 01-.708-.708l7-7a.5.5 0 01.708 0z" clip-rule="evenodd"/>
              <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 000 .708l7 7a.5.5 0 00.708-.708l-7-7a.5.5 0 00-.708 0z" clip-rule="evenodd"/>
            </svg>
            Rimuovi
          </button>
        </div>
      </div>
    </div>
  </div>  

{% endblock content %}
