{% extends "base.html" %}

{% block content %}
  <center>
    <h1 class="display-4"><strong>{{ data.titolo }}</strong></h1>
    {% if data.immagine != None %}
      <img src="{{ data.immagine.url }}">  
    {% endif %}
  </center>
  <p><strong>Summary:</strong> {{ data.descrizione }}</p>
  <p><strong>Dewey:</strong> {{ data.dewey }}</p>
  <p><strong>ISBN:</strong> {{ data.isbn }}</p> 
  <p><strong>Prezzo:</strong> {{ data.prezzo }}</p>
  <p><strong>In Prestito:</strong> {{ data.inprestito }}</p>
  
  <hr class="my-4">
  <a role="button" class="btn btn-secondary" href="{% url 'prenota' data.idlibro %}">Prenota</a>
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary">Modifica</button>
    <button type="button" class="btn btn-secondary">Elimina</button>
  </div> 
  
{% endblock %}