{% extends 'base.html' %} 
{% load crispy_forms_tags %}

{% block content %}
    <div class="container"  style="padding-left: 10%; padding-right: 10%; padding-top: 5%; padding-bottom: 1%;">
        <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Consegna libro ad un utente</h1>
            <p class="lead text-muted">Tutti le voci contrassegnate dal carattere <strong>*</strong> sono obbligatorie</p>
        </div>

        <form method="post">
            {% csrf_token %}
            {% crispy form1 %}
            {% crispy form %}
            <a class="btn btn-danger" href="/" role="button" style="width: 95px;">Cancella </a>
        </form>
        </section>
    </div> 
{% endblock %}