{% extends 'base.html' %} 
{% load crispy_forms_tags %}

{% block content %}
    <div class="container"  style="padding-left: 10%; padding-right: 10%; padding-top: 5%; padding-bottom: 1%;">
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Modifica del libro</h1>
                <p class="lead text-muted">Tutti le voci contrassegnate dal carattere <strong>*</strong> non devono essere vuote</p>
            </div>

            <form method="post" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                {% crispy form %}
                <a class="btn btn-danger" href="/" role="button" style="width: 95px;">Cancella </a>
            </form>
        </section>
    </div> 
{% endblock %}