{% extends "base.html" %}

{% block content %}
<h1>
<form method='GET' action="." style="margin: 0">
    <input  id="search_box" type="text" name="search_box"  placeholder="Search..." >
    <button id="search_submit" type="submit" >Submit</button>
</form>
</h1>
 <ul class="list-group">
    {% for libri in libri_list %}
      
  <li class="list-group-item"><a href="http://127.0.0.1:8000/{{libri.idlibro}}/" class="list-group-item list-group-item-action active">{{ libri.titolo }}</a> </li>

    {% endfor %}
</ul>
{% endblock content %}