{% extends 'base.html' %} 
{% load crispy_forms_tags %}

{% block content %}
    <div class="container"  style="padding-left: 10%; padding-right: 10%; padding-top: 5%; padding-bottom: 1%;">
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">LogIn</h1>
            </div>

            <form method="post"novalidate>
                {% csrf_token %}
                {{ form|crispy }}
                <br>
                <button type="submit" class="btn btn-success">LogIn</button>
                <a class="btn btn-danger" href="/" role="button">Torna alla Home</a>
            </form>
        </section>
    </div>
{% endblock %}