
{% extends 'base.html' %} 
{% block content %}
    <div id="login">
        
        <div class="container" style="margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;">
  <h3 class="text-center text-black pt-5">Login form</h3>
            <div id="login-row" class="row justify-content-center align-items-center" style="padding: 20px;">
                <div id="login-column" class="col-md-6" >
                    <div id="login-box" class="col-md-12">
    <form class="form-horizontal form" name="LoginForm"  method="post">
    {% csrf_token %}
    {% if next %}
        <input type="hidden" name="next" value="{{ next }}" />
    {% endif %}
    <div class="control-group">
        <label class="control-label" for="username">Username</label>
        <div class="controls">
            <input class="form-control" type="text" id="username" name="username"  placeholder="Username">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="password">Password</label>
        <div class="controls">
            <input class="form-control" type="password" name="password" id="password" placeholder="Password">
        </div>
  </div><br>
  <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-success">Login</button><a href="{% url 'login' %}"> or sign up</a>
        </div>
    </div>
    </form>
    
                     </div>
                  </div>
               
               </div>
            </div>
         </div>
         
   
      
{% comment %} </div> {% endcomment %}
{% endblock %}