<!doctype html> 
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <title>Biblioteca Zuccante</title>
  </head>

  <body background="https://p4.wallpaperbetter.com/wallpaper/744/76/891/wood-books-library-wallpaper-a0b9de631bd11d2a9070374e38c45b0d.jpg" style="background-repeat: no-repeat; background-position: center; background-size: cover; background-attachment:fixed;">
    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-5 py-4">
              <h4 class="text-white">About</h4>
              <img src="http://www.itiszuccante.edu.it/sites/default/files/logozuccante.jpg" alt="">
              <a class="nav-link active" href="https://www.itiszuccante.edu.it/">Sito web</a>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Strumenti</h4>
              <ul class="list-unstyled">               
                    {% if user.is_authenticated %}  
                    <a class="btn btn-primary" href="{% url 'libri' %}" role="button">Lista dei libri</a>
                    <a class="btn btn-primary" href="{% url 'aggiungi' %}" role="button">Aggiungi libro</a>
                    <a class="btn btn-primary" href="{% url 'prova' %}" role="button">Prova</a>
                    <br>
                    <br>                
                  {% endif %}                       
                  <form class="form-inline my-2 my-lg-0">
                  {% if user.is_authenticated %}
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ user.username }}
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'password_change' %}">Cambia password</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout' %}">Esci</a>
                      </div>
                  </div>          
                  {% else %}
                    <a href="{% url 'login' %}" class="btn btn-outline-secondary">Login</a>
                    <!-- <a href="{% url 'signup' %}"class="btn btn-primary ml-2">Sign up</a> --> 
                    
                  {% endif %}
                  </form>
              </ul>
            </div>
          </div>
        </div>
      </div>
    
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
            <strong>Info</strong>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>

    <nav class="navbar navbar-light bg-light justify-content-between">
      <a class="navbar-brand">Trova libro</a>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Libro, autore, codice..." aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          <svg class="bi bi-search" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z" clip-rule="evenodd"/>
            <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z" clip-rule="evenodd"/>
          </svg>
        </button>
      </form>
    </nav>
  
    
    <main role="main"  style="padding-left: 10%; padding-right: 10%; padding-top: 5%; padding-bottom: 1%;">

    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Biblioteca Zuccante</h1>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
        <p>
          <a href="#" class="btn btn-dark mx-1 my-2">Categorie</a>
          <a href="#" class="btn btn-dark mx-4 my-2">Libreria</a>
          <a href="#" class="btn btn-dark mx-1 my-2">Ultimi aggiunti</a>
        </p>
      </div>  



      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <div id="inam" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="container">
                    <div class="row">
                      <div class="col-sm-12 col-lg-4">
                        <div class="card" style="width: 300px;margin: auto;">                          
                            <img class="card-img-top" src="https://m.media-amazon.com/images/I/41M6Vvg6AlL.jpg" alt="Card image cap">
                            <div class="card-body">
                            <h5 class="card-title">*titolo*</h5>
                            <p class="card-text">Autore: *nome*<br>Genere: *</p>
                            <a href="#" class="btn btn-primary">Dettagli</a>
                            </div>  
                        </div>
                      </div>
                      <div class="col-sm-12 col-lg-4">
                          <div class="card" style="width: 300px;margin: auto;">
                              <img class="card-img-top" src="https://static.lafeltrinelli.it/static/frontside/xxl/319/10037319_4398807.jpg" alt="Card image cap">
                              <div class="card-body">
                              <h5 class="card-title">*titolo*</h5>
                              <p class="card-text">Autore: *nome*<br>Genere: *</p>
                              <a href="#" class="btn btn-primary">Dettagli</a>
                              </div>  
                          </div>          
                      </div>
                      <div class="col-sm-12 col-lg-4">
                        <div class="card" style="width: 300px;margin: auto;">
                            <img class="card-img-top" src="https://www.ibs.it/mpimg/2560043059864_0_0_0_745_75.jpg" alt="Card image cap">
                            <div class="card-body">
                            <h5 class="card-title">*titolo*</h5>
                            <p class="card-text">Autore: *nome*<br>Genere: *</p>
                            <a href="#" class="btn btn-primary">Dettagli</a>
                            </div>  
                        </div>          
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="container">
                    <div class="row">
                      <div class="col-sm-12 col-lg-4">
                        <div class="card" style="width: 300px;margin: auto;">
                            <img class="card-img-top" src="https://www.unicusano.it/blog/wp-content/uploads/2018/02/cos-%C3%A8-un-algoritmo-640x360.jpg" alt="Card image cap">
                            <div class="card-body">
                            <h5 class="card-title">*titolo*</h5>
                            <p class="card-text">Autore: *nome*<br>Genere: *</p>
                            <a href="#" class="btn btn-primary">Dettagli</a>
                            </div>  
                        </div>          
                      </div>
                      <div class="col-sm-12 col-lg-4">
                        <div class="card" style="width: 300px;margin: auto;">
                            <img class="card-img-top" src="https://img.libraccio.it/images/9788804665229_0_500_0_75.jpg" alt="Card image cap">
                            <div class="card-body">
                            <h5 class="card-title">*titolo*</h5>
                            <p class="card-text">Autore: *nome*<br>Genere: *</p>
                            <a href="#" class="btn btn-primary">Dettagli</a>
                            </div>  
                        </div>          
                      </div>
                      <div class="col-sm-12 col-lg-4">
                        <div class="card" style="width: 300px;margin: auto;">
                            <img class="card-img-top" src="https://www.unicusano.it/blog/wp-content/uploads/2018/02/cos-%C3%A8-un-algoritmo-640x360.jpg" alt="Card image cap">
                            <div class="card-body">
                            <h5 class="card-title">*titolo*</h5>
                            <p class="card-text">Autore: *nome*<br>Genere: *</p>
                            <a href="#" class="btn btn-primary">Dettagli</a>
                            </div>  
                        </div>          
                      </div>
                    </div>
                  </div>  
                </div>  
                <div class="carousel-item">
                  <div class="container">
                    <div class="row">
                      <div class="col-sm-12 col-lg-4">
                        <div class="card" style="width: 300px;margin: auto;">
                            <img class="card-img-top" src="https://www.unicusano.it/blog/wp-content/uploads/2018/02/cos-%C3%A8-un-algoritmo-640x360.jpg" alt="Card image cap">
                            <div class="card-body">
                            <h5 class="card-title">*titolo*</h5>
                            <p class="card-text">Autore: *nome*<br>Genere: *</p>
                            <a href="#" class="btn btn-primary">Dettagli</a>
                            </div>  
                        </div>          
                      </div>
                      <div class="col-sm-12 col-lg-4">
                        <div class="card" style="width: 300px;margin: auto;">
                            <img class="card-img-top" src="https://www.unicusano.it/blog/wp-content/uploads/2018/02/cos-%C3%A8-un-algoritmo-640x360.jpg" alt="Card image cap">
                            <div class="card-body">
                            <h5 class="card-title">*titolo*</h5>
                            <p class="card-text">Autore: *nome*<br>Genere: *</p>
                            <a href="#" class="btn btn-primary">Dettagli</a>
                            </div>  
                        </div>          
                      </div>
                      <div class="col-sm-12 col-lg-4">
                        <div class="card" style="width: 300px;margin: auto;">
                            <img class="card-img-top" src="https://m.media-amazon.com/images/I/51UfN1esvRL.jpg" alt="Card image cap">
                            <div class="card-body">
                            <h5 class="card-title">*titolo*</h5>
                            <p class="card-text">Autore: *nome*<br>Genere: *</p>
                            <a href="#" class="btn btn-primary">Dettagli</a>
                            </div>  
                        </div>          
                      </div>
                    </div>
                  </div>  
                </div>              
              </div>
              <a href="#inam" class="carousel-control-prev" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </a>
              <a href="#inam" class="carousel-control-next" data-slide="next">
                <span class="carousel-control-next-icon"></span>
              </a>              
            </div>           
          </div>         
        </div>       
      </div>

      
        <br>
        <br>
        <div class="container">      
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" src="https://www.unicusano.it/blog/wp-content/uploads/2018/02/cos-%C3%A8-un-algoritmo-640x360.jpg" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">Informatica</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <a href="#" class="btn btn-primary">Sfoglia</a>
                    </div>  
                </div>
                <div class="card">
                    <img class="card-img-top" src="https://www.filosofiaamica.it/wp-content/uploads/filosofi-famosi-640x360.jpg" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">Filosofia</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Sfoglia</a>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="https://www.laleggepertutti.it/wp-content/uploads/2019/09/religione-cristo-cattolicesimo-dio-gesu.jpg" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">Religione</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    <a href="#" class="btn btn-primary">Sfoglia</a>
                    </div>
                </div>
            </div>   
            <br>
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" src="https://www.29elode.it/sites/default/files/styles/course_page/public/o-law-facebook.jpg?itok=kIbn5XYA" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">Scienze sociali</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <a href="#" class="btn btn-primary">Sfoglia</a>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="https://liceodonatelli.edu.it/wp-content/uploads/sites/238/foreign-languages-career-education-otions-after-12th.jpg" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">Linguistica</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Sfoglia</a>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="https://static.frascatiscienza.it/wp-content/uploads/2017/08/esperimenti.jpg" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">Scienze pure</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    <a href="#" class="btn btn-primary">Sfoglia</a>
                    </div>
                </div>
            </div>  
            <br>
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" src="https://www.asproni.it/wp-content/uploads/2018/11/Liceo-delle-Scienze-Applicate.jpg" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">Tecnologia</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <a href="#" class="btn btn-primary">Sfoglia</a>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="https://www.raicultura.it/cropgd/640x360/dl/img/2020/01/15/1579104462480_Cover_Arte_2.jpg" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">Arti</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Sfoglia</a>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="https://i2.wp.com/www.teleradiopace.tv/wp-content/uploads/2016/11/libro-letteratura.jpg?fit=1200%2C675&w=640" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">Letteratura</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    <a href="#" class="btn btn-primary">Sfoglia</a>
                    </div>
                </div>
            </div>  
            <br>          
              <div class="container" style="text-align: center;">
                <div class="row">                  
                        <div class="card h-100" style="width: 350px;  margin: auto;">
                          <img class="card-img-top" src="https://www.rai.it/resizegd/640x-/dl/img/2020/04/22/1587549816608_sr1%20-%2050a%20giornata%20mondiale%20della%20terra%202048x1152.png" alt="Card image cap">
                          <div class="card-body">
                          <h5 class="card-title">Geografia</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                          <a href="#" class="btn btn-primary">Sfoglia</a>
                        </div>                  
                </div>
            </div>
            <footer class="text-muted">
              <div class="container">
                <p class="float-right">
                  <a href="#" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">
                    <svg class="bi bi-arrow-up" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M8 3.5a.5.5 0 01.5.5v9a.5.5 0 01-1 0V4a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
                      <path fill-rule="evenodd" d="M7.646 2.646a.5.5 0 01.708 0l3 3a.5.5 0 01-.708.708L8 3.707 5.354 6.354a.5.5 0 11-.708-.708l3-3z" clip-rule="evenodd"/>
                    </svg>
                  </a>
                </p>
              </div>
            </footer>
        </section>
    </main>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>    
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>

  </body>
</html>


