{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container"  style="padding-left: 10%; padding-right: 10%; padding-top: 5%; padding-bottom: 1%;">
  <div class="row">
      
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Biblioteca Zuccante</h1>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
        <p>
          <a href="{% url 'home' %}" class="btn btn-dark mx-1 my-2">Categorie</a>
          <a href="{% url 'libri' %}" class="btn btn-dark mx-4 my-2">Libreria</a>
        </p>
      </div>


      <form method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        {% load crispy_forms_tags %}
        {% crispy form %} 

        <script>
          $(document).ready(function() {
            $('#list').select2({
              theme: "bootstrap",
              placeholder: "Seleziona casa editrice",
            });
          });

          $(document).ready(function() {
            $('#list2').select2({
              theme: "bootstrap",
              placeholder: "Seleziona casa editrice",
            });
          });

          $(document).ready(function() {
            $('#list3').select2({
              theme: "bootstrap",
              placeholder: "Seleziona sede",
            });
          });
        </script>

      </form>

    </section>
  </div>
</div> 
{% endblock %}
